
.page{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header_container{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.header img{
    width: 100px;
    height: 100px;
    margin-right: auto;
    border-radius: 50px;
    border: 0px;
    align-self: center;
}

.links{
    display: flex;
    gap: 16px;
}

a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}



.main_container{
    background-color: #1f2937;
    display: flex;   
    justify-content: space-around;
    padding: 16px;
}

.left{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.right{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    height: 400px;
    width: 400px;
    margin-bottom: 16px;
    height: auto;
}

.right img{
    border: 0px;
    display: flex;
}

.main_text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.sub_text{
    color: #e5e7eb;
    font-size: 18px;
}

.button1{
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    margin-top: 8px;
    border-radius: 8px;
}

.header_text{
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 16px;
}

.photo_container{
    display: flex;
    color: #1f2937;
    justify-content: center;
    gap: 75px;
    margin-bottom: 32px;
    flex-wrap: wrap;
    text-align: center;
}

img{
    border: 5px solid #3882f6; 
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.box{
    height: 200px;
    width: 200px;
    margin-bottom: 16px;
}

p{
    color: #1f2937;
    display: block;
}

.quote_container{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    height: 200px;
    margin-top: 32px;
    align-items: center;
    height: auto;
}

.quote{
    color: #1f2937;
    font-size: 28px;
    padding: 16px;

}

.author{
    color: #1f2937;
    font-weight: bolder;
    align-self: flex-end;
    padding: 32px;
}

.action_container{
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 32px;
    padding: 32px;
    border-radius: 15px;
}

.button2{
    background-color: #3882f6;
    border-radius: 5px;
    color: #e5e7eb;
    border: solid #e5e7eb;
}

.act_left{
    display: flex;
    flex-flow: column wrap;
}


.footer{
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}