*{
    width: 100%;
    height: auto;
    font-family: Helvetica;
}

.page{
    display: flex;
    flex-direction: column;
}

.header_container{
    background-color: #1f2937;
    display: flex;
}

.header{
    color:#f9faf8;
    font-size: 24px;
}

a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.main_container{
    background-color: #1f2937;
}

.main_text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.sub_text{
    color: #e5e7eb;
    font-size: 18px;
}